@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body{
    font-family: 'Palatino';
    font-size: 14px
    background: #eeee;
    color:#666:
}
.login-container{
  height: 100vh;
  width: 100%;
}
.login-form{
  max-width: 100%;
  width: 370px;
  padding: 15px;
  margin: auto;
}
